body {
    margin-left: 10%;
    margin-right: 10%;
    padding: auto;
    font-family: Garamond, "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;
    font-size: 100%;
    font-weight: lighter;
    line-height: 150%;
    max-width: 1000px;
}

h1 {
    color: #1711E7;
	max-width: 800px;
}

h2 {
    font-size: 140%;
    color: #004090;
}


h3 {
    font-size: 120%;
    color: #004090;
}

dt {
  font-size: 105%;
  display: block;
  font-weight: bold;
}

table {
	width:100%;
    border-top: medium solid;
    border-bottom: medium solid;
    border-collapse: collapse
}

td,th {
    padding: 0.5em;
}

th {
    border-bottom: thin solid;
}

td{
    border-bottom: thin solid;
}


#note {
    font-size: 120%;
    color: #004090;
    text-align: center;
    font-style: italic;
}

#topdecbar {
    height: 10px;
    background-color: #0066cc;
}

#metainfo {
    float: left;
    width: 200px;
}

#content {
    float: left;
    width: 600px;
    margin-bottom: 90px;
    margin-left: 40px;
}

#container {
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo{
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;  
}